
<!DOCTYPE html>

<html lang="en"  >
  <head>
    <title>Inspect - KW Fiber Laser Data</title>
<meta http-equiv="X-UA-Compatible" content="IE=11, IE=edge,chrome=1" />
   <!--
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	-->
	
   {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-slider.css') }}">
		  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		    <link rel="stylesheet" href="{{ url_for('static', filename='jumbotron-narrow.css') }}">
			
			<script src="{{url_for('static', filename='highcharts.js')}}"></script>
			<script src="{{url_for('static', filename='offline-exporting.js')}}"></script>
			<script src="{{url_for('static', filename='exporting.js')}}"></script>
			<script src="{{url_for('static', filename='export-csv.js')}}"></script>
			 <!--
			
			<script src="{{url_for('static', filename='offline-exporting.min.js')}}"></script>
		-->
			<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
			
      {% endblock %}
	   
	  
	  <style type="text/css">
${demo.css}
		</style>
		
		<script type="text/javascript">
		var dates = [];
		var executions = [];
		
		{% for date in list_of_last_week_dates %}
				
						dates.push("{{date}}");
						executions.push(Number("{{dates_execution_dict[date]}}"));
						{% endfor %}
$(function () {
    Highcharts.chart('container', {
        chart: {
            //type: 'bar'
			type: 'column',
    inverted: false // default
        },
        title: {
            text: 'Test executions last 21 days'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: dates,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Executions (Attempts)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' times'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -60,
            y: 60,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Executions',
            data: executions
        }]
    });
});
		</script>
		
		
	
	
		
		
		
		<script type="text/javascript">
		var benches = [];
		var executions_for_bench = [];
		{% set counter = 0 %}
		{% for bench in list_of_sorted_bench_executions %}
				{% if  counter < 15 %}
						benches.push("{{bench}}");
						executions_for_bench.push(Number("{{bench_execution_dict[bench]}}"));
				{% endif %}		
						{% set counter = counter +1 %}
						{% endfor %}
$(function () {

Highcharts.setOptions({
    colors: [  '#FF9655', '#FFF263', '#6AF9C4']
});
    Highcharts.chart('container4', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Executions per test bench'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: benches,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Executions (Attempts)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' Executions (Attempts)'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 400,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Executions (Attempts)',
            data: executions_for_bench
        }]
    });
});
		</script>
		
		
		
		
		
		
		
		
		<script type="text/javascript">
		var operations = [];
		var cycles = [];
		{% set counter = 0 %}
		{% for operation in list_of_sorted_top_cycle_ops %}
				{% if  counter < 15 %}
						operations.push("{{operation}}");
						cycles.push(Number("{{op_vs_cycle_max_dict[operation]}}"));
				{% endif %}		
						{% set counter = counter +1 %}
						{% endfor %}
$(function () {

Highcharts.setOptions({
    colors: ['#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
});
    Highcharts.chart('container3', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Cycle time per operation'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: operations,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Cycle Time (Minutes)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' Cycle Time (Minutes)'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 400,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Cycle Time (Minutes)',
            data: cycles
        }]
    });
});
		</script>
		
		
		
		
		
		
		
		
		
		
		
		
		
		<script type="text/javascript">
		
		var dates2 = [];
		
		
		var dict = [];
		var newarr = [];
		var arrayOfNumbers = [];
		var temp_string;
		var res;
		{% set count = 0 %}
		
		{% for date in list_of_last_week_dates %}
						dates2.push("{{date}}");
						
						
						
						{% endfor %}
		
{% for key, dict_index3 in dict_of_lists_of_model_data.iteritems() %}

   

		temp_string = "{{dict_index3}}";
		
		temp_string = temp_string.replace('[','');
		temp_string = temp_string.replace(']','');
		res = temp_string.split(",");
			
			dict.push({
				name:   "{{key}}",
				data: res.map(Number)
				});
				
				
	{% endfor %}		
		
		
$(function () {
    Highcharts.chart('container2', {
        chart: {
            //type: 'bar'
			type: 'column',
    inverted: false // default
        },
        title: {
            text: 'Test executions per model, last 21 days'
        },
        subtitle: {
            text: 'Click on the model list to the right, to hide models on the chart'
        },
        xAxis: {
            categories: dates2,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Executions (Attempts)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' times'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 60,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true,
			maxHeight:100
        },
        credits: {
            enabled: false
        },
        series: dict
    });
});
		</script>
		
		
		
		
		
	</head>
	<body style=" zoom :80%" >



	
 
	  
	  
	  
 
 

    <div class="container-fluid">
      <div class="header">
        <nav>
		
				
		
          <ul class="nav nav-pills pull-right">
		  
		  <li role="presentation" class="alert-danger"><a href="/dash">Burn-In Live Monitor</a></li>
				<li role="presentation" class=" list-group-item-danger" ><a  href="/showBIData">Burn-In data</a></li>
				
          <li role="presentation" class="active"><a href="/additional_stats">Additional Statistics</a></li>
              <li role="presentation" class="active"><a href="http://192.168.31.181:5002/">Shipping Reports</a></li>
			 
			
			
			
				<li role="presentation" class="active" ><a href="/OCAP_dash">OCAP</a></li>
				<li role="presentation"  class="active" ><a  href="/postOnePar">Custom Query</a></li>
				

	 </ul>
			 
			 
			 
             
				
				
				
    <!--
            <li role="presentation"><a href="#">Add inspection</a></li>
            <li role="presentation" class="active"><a href="#">Add inspection 2</a></li>
    -->
	
	<!--
          </ul>
		  
		  
		  <ul class="nav nav-pills pull-right">
		  <td style="overflow: hidden;white-space:nowrap ;float:center;">
<form action="." method="POST" href="{{ url_for('additional_stats') }} class="form-signin" >
                <button class="btn btn-primary" role="button" type="submit" name="text3" value="" > Additional Statistics </button>
                </form>
                </td>
				
				  -->
				
				
				</ul>
        </nav>
        <h3 class="text-muted">Inspect - KW Fiber Laser Data </h3>
		
		
		
		
		
		
		
		
		<div>
		<form action="showSignUp" method="POST" action="{{ url_for('showSignUp') }} class="form-signin" >
      
					<input type="text" name="text">
					<input class="btn btn-lg btn-success" role="button" type="submit" >
				</form>
				</div>
				
				
				
			<!-- last tested units-->
	
                <div class="col-lg-6" style="min-width: 700px; max-width: 700px; max-height: 300px; margin: 0 auto;margin-left: 400px;margin-top: -100px;float:left ;font-size: 12px">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> <b>Latest tests:</b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div   class="pre-scrollable"  style=" max-height: 150px">
	
	  
	  
	  
	  {% set counter = length_of_last_tested-1 %}
	  {% for key, dict_index in last_tested_dict.iteritems() %}
      
	  
	  {% if counter > length_of_last_tested-50 %}
	  
	  
      {% set row_index = last_tested_dict[counter] %}
	  
	 
	  
	  {% set counter = counter-1 %}
	  
	  



        
    	 
	 <form action="showSignUp" method="POST" action="{{ url_for('showSignUp') }}  >
 <input type="text" name="text" value={{row_index[0]}}> 
  <button type="submit" name="text" value={{row_index[0]}}  class="btn btn-lg btn-primary" style="font-size: 12px; padding: 3px 5px; ">Query data for S/N : {{row_index[0]}}</button>
  
</form>  
	  




								
									<a href="#" class="list-group-item">
									<i class="fa fa-comment fa-fw" ></i> 
									
									{{ row_index[0] }}  -  
                                    
									<span ><em>     	               {{ row_index[1] }}              </em>
                                    </span>
									{% if row_index[6] == 'FAIL' %}
	<span style="background-color:#FF5733">
									{% elif row_index[6] == 'PASS' %}
	<span style="background-color:#67E16A">	
									{% else %}
<span >
									{% endif %}
									<span class="pull-right	 text-muted small"><em> {{ row_index[2] }}  minutes ago</em>
                                    </span>
									
									 {% if row_index[5] != None %}
									<span><em>  &nbsp;&nbsp;  {{ row_index[6] }}- {{ row_index[5] }}  % completed</em>
									</span>
									
 </span>
									{% endif %}
                                </a>
								
	{% endif %}							
{% endfor %}

								

								</div>
                            <!-- /.list-group -->
                          <!--   <a href="#" class="btn btn-default btn-block">View All Alerts</a> -->
                        </div>
						
                        <!-- /.panel-body -->
                    </div>
	 
	 
	 <!-- end of last tested units -->	
				
      </div>
	   </div>

	   </div>
	   </div>
	   
	   
	   
	  <script type="text/javascript"> $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

 


	 <div    style="overflow: hidden "  > 	 

	   <div id="container" style="min-width: 400px; max-width: 550px; height: 400px; margin: 0 auto;float:right "></div>
	  <!-- 2nd plot -->
	 
	 
			<div id="container2" style="min-width: 450px; max-width: 550px; height: 400px; margin: 0 auto;float:left "></div>	
			
			 <!-- 3rd plot -->
			
			<div id="container3" style="min-width: 450px; max-width: 550px; height: 400px; margin: 0 auto;float:left "></div>
 <!-- 4th plot -->
			
			<div id="container4" style="min-width: 450px; max-width: 550px; height: 400px; margin: 0 auto;float:left "></div>			
	 
	 </div>
 </div>


	   <div   >
	<h3 tyle="white-space: pre; ">&nbsp; Tested units per model in the last 21 days:  <span  style="font-size: 14px;">(Click the S/N to query data)</span></h3>

	 <table id="example" class="table table-striped table-bordered table-hover table-sm table-responsive"  style = "overflow-y: hidden"  >
	 
 <thead>
	 <tr >
	 {% for key, dict_index in dict_of_sn_per_model.iteritems() %}
                <td ><b>{{key}}</b></td>
			
			{% endfor %}
			</tr>
			</thead>
			{% set counter = 0 %}
			 {% for max_list_index in range(length_of_longest_sn_list) %}
			 <tr>
	{% for key, dict_index in dict_of_sn_per_model.iteritems() %}	
  
		<td>   
		
	{% if  dict_index[counter] != NULL  %}
		<form action="showSignUp" method="POST" action="{{ url_for('showSignUp') }}  >
 <input type="text" name="text" value={{dict_index[counter]}}> 
  <button type="submit" name="text" value={{dict_index[counter]}}  class="btn btn-lg btn-primary" style="font-size: 13px; padding: 1px 1px; ">{{dict_index[counter]}}</button>
  
</form> 
	{% endif %}
 
{% if dict_of_sn_completion[dict_index[counter]] !=None and dict_index[counter] != NULL  %}

								{% if dict_of_sn_completion[dict_index[counter]]|float <= 0 %}
	<span style="background-color:#F38F79;font-size: 13px;">
									{% elif dict_of_sn_completion[dict_index[counter]]|float ==100 %}
	<span style="background-color:#67E16A;font-size: 13px;">	
									
									{% elif dict_of_sn_completion[dict_index[counter]]|float > 0 and dict_of_sn_completion[dict_index[counter]]|float < 100 %}
	<span style="background-color:#F5D143;font-size: 13px;">	
									{% else %}
<span style="font-size: 13px;">
									{% endif %}

{{dict_of_sn_completion[dict_index[counter]]}}% done

</span>
{% endif %}
 </td>

		{% endfor %}
		 </tr>
			 {% set counter = counter +1 %}
			{% endfor %}
        
    </table>
	   </div>  
	   
	   
	   	
					
					
					
	  

	

               

        <footer class="footer">
        <p>&copy; Lumentum</p>
      </footer>



</div>
</div>
</div>
</div>
</div>
</div>

    
  </body>
</html>

