
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inspect - Fiber Laser</title>
<meta http-equiv="X-UA-Compatible" content="IE=11" />
   <!--
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
	-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
   {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-slider.css') }}">
		  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		    <link rel="stylesheet" href="{{ url_for('static', filename='jumbotron-narrow.css') }}">
			
			<script src="{{url_for('static', filename='highcharts.js')}}"></script>
			<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='offline-exporting.min.js')}}"></script>
      {% endblock %}
	   
	  
	  <style type="text/css">
${demo.css}
		</style>
		
		<script type="text/javascript">
		var dates = [];
		var executions = [];
		
		{% for key, dict_index in dates_execution_dict.iteritems() %}
      
				
						dates.push("{{key}}");
						executions.push(Number("{{dict_index}}"));
						{% endfor %}
$(function () {
    Highcharts.chart('container', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Test executions in the last 7 days'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: dates,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Executions (times)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' times'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Executions',
            data: executions
        }]
    });
});
		</script>
		
		
		
		
		<script type="text/javascript">
		
		var dates2 = [];
		
		
		var dict = [];
		var newarr = [];
		var arrayOfNumbers = [];
		var temp_string;
		var res;
		{% set count = 0 %}
		
		{% for key_dates, dict_index in dict_of_models_in_dict_of_dates.iteritems() %}
      
						dates2.push("{{key_dates}}");
						
						
						
						{% endfor %}
		
{% for key, dict_index3 in dict_of_lists_of_model_data.iteritems() %}

   

		temp_string = "{{dict_index3}}";
		
		temp_string = temp_string.replace('[','');
		temp_string = temp_string.replace(']','');
		res = temp_string.split(",");
			
			dict.push({
				name:   "{{key}}",
				data: res.map(Number)
				});
				
				
	{% endfor %}		
		
		
$(function () {
    Highcharts.chart('container2', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Test executions per model in the last 7 days'
        },
        subtitle: {
            text: 'Click on the model list to the right, to hide models on the chart'
        },
        xAxis: {
            categories: dates2,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Executions (times)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' times'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        credits: {
            enabled: false
        },
        series: dict
    });
});
		</script>
		
		
		
		
		
	</head>
	<body>



	
 
	  
	  
	  
 
 

    <div class="container-fluid">
      <div class="header">
        <nav>
		
				
		
          <ul class="nav nav-pills pull-right">
          
              <li role="presentation" class="active"><a href="http://192.168.31.191:5002/">Shipping Reports</a></li>
			 
             
    <!--
            <li role="presentation"><a href="#">Add inspection</a></li>
            <li role="presentation" class="active"><a href="#">Add inspection 2</a></li>
    -->
          </ul>
        </nav>
        <h3 class="text-muted">Inspect - Fiber Laser </h3>
		<div>
		<form action="showSignUp" method="POST" action="{{ url_for('showSignUp') }} class="form-signin" >
      
					<input type="text" name="text">
					<input class="btn btn-lg btn-success" role="button" type="submit" >
				</form>
				</div>
      </div>
	   </div>
<!--0
      <div class="jumbotron">
	  
	  
        <h3><b>Enter Serial Number or click on the list below </b></h3>


      <form action="showSignUp" method="POST" action="{{ url_for('showSignUp') }} class="form-signin" >
      
        <input type="text" name="text">
        <input class="btn btn-lg btn-success" role="button" type="submit" >


        
    </form>

 

      </div>
	  -->
	  
	   </div>
	  <script type="text/javascript"> $(document).ready(function() {
    $('#example').DataTable();
} );
</script>



	 <div    style="overflow: hidden"> 	 
<div id="container2" style="min-width: 800px; max-width: 800px; height: 400px; margin: 0 auto;float:left "></div>
	  
	  <div id="container" style="min-width: 800px; max-width: 800px; height: 400px; margin: 0 auto;float:right "></div>
	 </div>



	   <div  >
	<h3 tyle="white-space: pre; ">&nbsp; Tested units per model in the last 7 days:  <span  style="font-size: 14px;">(Click the S/N to query data)</span></h3>

	 <table id="example" class="table table-striped table-bordered table-hover table-sm table-responsive"  style = "overflow-y: hidden"  >
	 
 <thead>
	 <tr >
	 {% for key, dict_index in dict_of_sn_per_model.iteritems() %}
                <td ><b>{{key}}</b></td>
			
			{% endfor %}
			</tr>
			</thead>
			{% set counter = 0 %}
			 {% for max_list_index in range(length_of_longest_sn_list) %}
			 <tr>
	{% for key, dict_index in dict_of_sn_per_model.iteritems() %}	
  
		<td>   
		
	
		<form action="showSignUp" method="POST" action="{{ url_for('showSignUp') }}  >
 <input type="text" name="text" value={{dict_index[counter]}}> 
  <button type="submit" name="text" value={{dict_index[counter]}}  class="btn btn-lg btn-success" style="font-size: 15px; padding: 1px 1px;">{{dict_index[counter]}}</button>
  
</form>  


 </td>

		{% endfor %}
		 </tr>
			 {% set counter = counter +1 %}
			{% endfor %}
        
    </table>
	   </div>  
	   
	   <!--
	<div    > 
	
	 <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" style =  "transform-origin: left top 0;" >
	 {% for key, dict_index in dict_of_sn_per_model.iteritems() %}
	 
       <tbody>
		<tr>
                <td style=" overflow: hidden;">{{key}}</td>
			
		
  
		
		 {% for row_index in dict_index %}
            
                <td >{{row_index}}</td>
            
            
			
			{% endfor %}
			</tr>
		
			
			{% endfor %}
        </tbody>
    </table>
	   </div>     
	  -->

	  <!-- /.col-lg-8 -->
	
                <div class="col-lg-6";  >
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> <b>Latest tested units:</b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div   class="pre-scrollable">
	
	  
	  
	  
	  {% set counter = length_of_last_tested-1 %}
	  {% for key, dict_index in last_tested_dict.iteritems() %}
      
      {% set row_index = last_tested_dict[counter] %}
	  
	 
	  
	  {% set counter = counter-1 %}
	  
	  



        
    	 
	 <form action="showSignUp" method="POST" action="{{ url_for('showSignUp') }}  >
 <input type="text" name="text" value={{row_index[0]}}> 
  <button type="submit" name="text" value={{row_index[0]}}  class="btn btn-lg btn-success" style="font-size: 15px; padding: 5px 5px; ">Query data for S/N : {{row_index[0]}}</button>
  
</form>  
	  




									<a href="#" class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> {{ row_index[0] }}  -  
                                    
									<span ><em>     	               {{ row_index[1] }}              </em>
                                    </span>
									
									<span class="pull-right	 text-muted small"><em> {{ row_index[2] }}  minutes ago</em>
                                    </span>
									 {% if row_index[5] != None %}
									<span><em>  &nbsp;&nbsp;  {{ row_index[5] }}  % completed</em>
                                    </span>
									{% endif %}
                                </a>
{% endfor %}

								

								</div>
                            <!-- /.list-group -->
                          <!--   <a href="#" class="btn btn-default btn-block">View All Alerts</a> -->
                        </div>
						
                        <!-- /.panel-body -->
                    </div>
					
					
					
					
	  
	  



	

               

        <footer class="footer">
        <p>&copy; Lumentum</p>
      </footer>




    </div>
  </body>
</html>

