
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inspect - KW Fiber Laser Data</title>
<meta http-equiv="X-UA-Compatible" content="IE=11" />
   <!--
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/signUp.js"></script>
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	-->
	
   {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-slider.css') }}">
		  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		    <link rel="stylesheet" href="{{ url_for('static', filename='jumbotron-narrow.css') }}">
			
			<script src="{{url_for('static', filename='highcharts.js')}}"></script>
			 <!--
			
			<script src="{{url_for('static', filename='offline-exporting.min.js')}}"></script>
		-->
			<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
			
      {% endblock %}
	  
	  <li role="presentation" class="active"><a href="http://192.168.31.181:5001/"> INSPECT moved to http://192.168.31.181:5001  </a></li>
	  

               

        <footer class="footer">
        
      </footer>




    </div>
  </body>
</html>

