
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Inspect - KW Fiber Laser Data</title>
<meta http-equiv="X-UA-Compatible" content="IE=11" />
   <!--
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

-->



{% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-slider.css') }}">
		  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		    <link rel="stylesheet" href="{{ url_for('static', filename='jumbotron-narrow.css') }}">
      {% endblock %}


















   
  </head>

  <body >







<!--

<div class="well">
        <input id="ex1" data-slider-id='ex1Slider' type="text"
            data-slider-min="-5" data-slider-max="20"
            data-slider-step="1" data-slider-value="14" />
    </div>
=-->













    <div >
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
  <!--          
            <li role="presentation"><a href="#">Add function</a></li>
 	    <li role="presentation"><a href="/showSignUp">Add function</a></li>
 -->	    
          </ul>
        </nav>
        <h3 class="text-muted">Inspect - KW Fiber Laser Data</h3>
      </div>

      <div class="jumbotron">
      
        <h3>CUSTOM REPORT : Parameter ID: {{parameter_id_response}},  S/N format : {{format_response}}</h3> 
        <p class="lead"></p>
      <!--  <h3>DUT THAT WERE NOT FOUND ON SERVER:</h3> <h9>{{list_of_sn_that_were_not_found}}</h9>  --> 
        <p class="lead"></p>
<!--

class="container" margin-left: 15px;

        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Check</a></p>

        <h3>Enter
        S/N</h3>
    <h2>(it will be converted to uppercase)</h2>
   --> 

      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          
          
       

	 





<br>Number of data points: {{ length_of_list }} </br>
<br>cp: {{ cp_result }} </br>
<br>cpk: {{ cpk_result }} </br>

<br>Max limit from DB: {{ upper_limit }} </br>
<br>Min limit from DB: {{ lower_limit }} </br>


	
  <img src="data:image/png;base64,{{ results }}" width="500">
   

<!-- raw data table-->
	
                <div class="col-lg-6" style="min-width: 900px; max-width: 900px; max-height: 300px; margin: 0 auto;float:left ;font-size: 12px">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> <b>Raw data</b>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div   class="pre-scrollable"  style=" max-height: 150px">
							
							
							
<table style="clear: both; border-collapse: separate;border-spacing: 25px 0px; width: 100%;">
{% set counter = 0 %}
{% set counter_row = 0 %}
{% for row_count in list_of_lists_to_print %}

<tr>
    {% for row_index in row_count %}
        
        {% if counter ==  0 or counter_row == 0%}
          <td><b>{{ row_index }}</b></td>
          {% else %}
    <td>{{ row_index }}</td>
  {% endif %}
          
          
        {% set counter = counter+1 %}
    {% endfor %}
    {% set counter_row = counter_row+1 %}
    </tr>
{% endfor %}



{% set counter_row = 0 %}

    

</table>
 </div>
                            <!-- /.list-group -->
                          <!--   <a href="#" class="btn btn-default btn-block">View All Alerts</a> -->
                        </div>
						
                        <!-- /.panel-body -->
                    </div>
	 
	 
	 <!-- raw data table -->	


        </div>
      </div>
	  </div>

      <footer class="footer">
        <p>&copy; Lumentum</p>
      </footer>

    </div>
  </body>
</html>

