<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspect - KW Fiber Laser Data</title>
    
    <link rel="stylesheet" href="/static/bootstrap-slider.css">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/jumbotron-narrow.css">
    <link rel="stylesheet" href="/static/gauge.css">
    <script src="/static/jquery.min.js"></script>

    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
        }

        .section-item {
            margin-bottom: 10px;
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
        }

        td {
            font-size: 30px;
            padding: 20px
        }
        th {
            font-size: 30px;
            padding: 20px
        }
        .clickable-text {
            cursor: pointer;
            display: block;
            position: relative;
        }
      
        .clickable-text::before {
            content: "";
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-image: url('finger-icon.png'); /* Replace with the path to your finger icon */
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body style="zoom: 80%">
    <div>
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a></li> 
                </ul>
            </nav>
            <h3 class="text-muted">Inspect - KW Fiber Laser Data</h3>
            <div class="col-lg-6" style="min-width: 700px; max-width: 500px; max-height: 300px; min-height: 300px; margin: 0 auto; margin-left: 0px; margin-right: -700px; margin-top: 70px; float: left; font-size: 12px"></div>

        <!-- <div class="flex-wrapper">	  
      <div class="single-chart">
        <svg viewBox="0 0 36 36" class="circular-chart orange">
          <path class="circle-bg" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"></path>
          <path class="circle" stroke-dasharray="77.8, 100" d="M18 2.0845
              a 15.9155 15.9155 0 0 1 0 31.831
              a 15.9155 15.9155 0 0 1 0 -31.831"></path>
          <text x="18" y="20.35" class="percentage">77.8%</text>
        </svg>
      </div>
    </div>	  -->
    
        </div>
    </div>
    
    <div class="jumbotron" style="background-color: #F9F9F9">
      <div>
          <div>
              <h1>DUT: {{serial_num}}</h1>
              <h2>MODEL: {{PartNumber_item}}</h2>
            
      <!-- <button type="submit" name="text" value="Pareto" class="btn btn-lg btn-warning " style="font-size: 13px; padding: 1px 1px; ">Pareto for : FBG_OC_MWL</button> -->
    </div>
  </div>
</div>
                    
                    <!-- <div> <span style="background-color:#67E16A">Specification table at the time of DUT test match the current specification REV : REV014</span>	</div> -->
                   
    <!--
    
    class="container" margin-left: 15px;
    
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Check</a></p>
    
            <h3>Enter DUT S/N</h3>
        <h2>(it will be converted to uppercase)</h2>
       --> 
          
       <div class="row marketing">
        <div class="col-lg-7">
            <h2 class="display-4">DUT RESULT - {{result_of_DUT}}</h2>
          </div>
        </div>
    <!-- <form action="getPlotCSV" method="POST">
      <button type="submit" name="text" value="N3DW2305LF105" class="btn btn-lg btn-primary pull-left" style="font-size: 13px; padding: 1px 1px; ">Click to save .CSV file</button>
    </form>  -->
              
        <!--	  
              
           <ul class="nav nav-pills pull-left">   
                
                    <li role="presentation" class="active"><a href="/getPlotCSV">Click to save .CSV file</a></li>
    
         </ul>
    --> 
    <!-- <h1 style="color:#FFFFFF">.</h1> -->
    
    <!-- <h2>FBG MULTI WAVE LENGTH</h2> -->

<!-- ------------------------------------------------------------------------------------------------------------------- -->
  
    {% for num_item in range(items) %}
    <script>
    $(document).ready(function(){
        $("#button{{num_item}}").click(function(){
            $("#tab{{num_item}}").toggle();
        }
        );
    });
    </script>
    
    <div>
      <!-- CT Time -->
      {% for minute in CT_Time %}
        {% if loop.index0 == num_item %}
            <button type="submit" name="text" value="" class="btn btn-lg btn-info pull-left" style="font-size: 13px; padding: 1px 1px; min-width: 90px; max-width: 90px;">{{ minute }}</button>
        {% endif %}
      {% endfor %}

      <!-- <form action="pareto" method="POST" href="/pareto">
          <input type="hidden" name="model" value="FBG_OC_MWL">
          <input type="hidden" name="op_id" value="781">
          <input type="hidden" name="date_start" value="">
          <input type="hidden" name="date_end" value="">
        </form>
      
     <form action="close_scrap" method="POST" href="/close_scrap">
      <input type="hidden" name="model" value="FBG_OC_MWL">
      <input type="hidden" name="operation_id" value="781">
      <input type="hidden" name="serial_number" value="N3DW2305LF105">
    </form> -->
    
    <form action="show_all_operation_attempts" method="POST">
      {% for num in num_attempts %}
          {% if loop.index0 == num_item %}
          <button type="submit" name="text" value="" class="btn btn-lg btn-primary pull-left" style="font-size: 13px; padding: 1px 1px; min-width: 90px;">{{num}} ATTEMPTS</button>
          {% endif %}
      {% endfor %}
  </form>
    
  {% for Oparation_num_id in Oparation_id %}
  {% if loop.index0 == num_item %}
  {% set true_operation_id = Oparation_num_id %}
  {% for Oparation_num_name in Oparation_name %}
      {% if loop.index0 == num_item %}
      {% set true_operation_name = Oparation_num_name %}
      {% for check in check_item %}
          {% if loop.index0 == num_item %}
          {% set true_check_item = check %}
          <button id="button{{num_item}}" type="button" class="btn btn-success" style="text-align:left; padding-left:6px; min-width: 520px;">OPERATION_ID: {{true_operation_id}} - {{true_operation_name}}</button> - {{true_check_item}}
          {% endif %}
      {% endfor %}
      {% endif %}
  {% endfor %}
  {% endif %}
{% endfor %}

<table class="table-striped" cellspacing="0" id="tab{{num_item}}" style="display: none; clear: both; border-collapse: separate; border-spacing: 0px 0px; width: 200%; table-layout: fixed">
  <tbody>
      <tr>
          <td>
              {% for Oparation_num_id in Oparation_id %}
                  {% if loop.index0 == num_item %}
                  {% set true_operation_id = Oparation_num_id %}
                  <h3>OPERATION_ID: {{true_operation_id}}</h3>
                  {% endif %}
              {% endfor %}
          </td>
      </tr>

    <tr>
      {% for Oparation_num_name in Oparation_name %}
          {% if loop.index0 == num_item %} {% set true_operation_name = Oparation_num_name %}
    <!-- <td><h3> {{true_operation_name}} </h3></td> -->
    <td style="border-bottom: 1px solid black;"><h3>{{true_operation_name}}</h3></td>
    {% endif %}{% endfor %}
    </tr>


<!-- ----------------------------------------------------------------------------------- -->

<script>
  function toggleTable(elementId) {
      var table = document.getElementById(elementId);
      var display = table.style.display;
      
      if (display === "none") {
          table.style.display = "table";
      } else {
          table.style.display = "none";
      }
  }
</script>

<!-- Task Soda -->
<tr>
  {% for Oparation_num_id in Oparation_id %}
      {% if loop.index0 == num_item %}   
          {% for serItem in lst_serItem %}
              {% if serItem.4 == Oparation_num_id %}
                  <tr>
                      <td>
                          <h3 onclick="toggleTable('table{{ loop.index }}')" class="clickable-text">TestHeaderID: {{ serItem.0 }}</h3>
                          <table id="table{{ loop.index }}" style="display: none; ">
                              
                            <tr>
                              <!-- {% for numstepName in range(num_lst_stepName) %}
                              {% for stepName in lst_stepName %}
                              {% if stepName.0 == serItem.0 %} -->
                              <tr>
                                <td>
                                  <h4 onclick="toggleTable('table{{ loop.index }}')">Step Name: {{ stepName.1 }}</h4>
                                  <table id="table{{ loop.index }}" style="display: block; border: 2px solid black;">
                                    <!-- Add your parameter details here -->
                                    <thead>
                                      <tr>
                                        <th>Parameter Name</th>
                                        <th>Value</th>
                                        <th>Unit</th>
                                        <th>Min Limit</th>
                                        <th>Max Limit</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <!-- <tr>
                                        <td>Parameter 1</td>
                                        <td>100</td>
                                        <td>mg/dL</td>
                                        <td>50</td>
                                        <td>200</td>
                                      </tr> -->
                                      <!-- Add more rows for additional parameters if needed -->
                                    </tbody>
                                  </table>
                                </td>
                                </tr></tr>
                              </td>
                                <!-- {% endif %}
                                {% endfor %}
                              {% endfor %} -->
                            </tr>

                              <!-- Add your parameter details here -->
                              <!-- <tr>
                                <td>Parameter 1</td>
                                <td>100</td>
                                <td>mg/dL</td>
                                <td>50</td>
                                <td>200</td>
                            </tr> -->
                            </table>
                      </td>
                  </tr>
              {% endif %}
          {% endfor %}
      {% endif %}
  {% endfor %}
</tr>

      
      <!-- <tr>
        <td>
<form action="showOnePar" method="POST" href="/showOnePar" class="form-signin">
<div style="display:none">
<input type="hidden" name="format" value="N3DW"><br>       
<input type="hidden" name="parameter_id" value="47104"><br>
<input type="hidden" name="parameter_name" value=""><br>
<input type="hidden" name="operation_id" value=""><br>
</div>
<input type="submit" value="Chart" name="text" class="btn btn-lg btn-success pull-left" style="font-size: 13px; padding: 1px 1px; ">
</form> 
       &nbsp;-&nbsp; SERIAL_NUMBER</td>
  <td style="overflow: hidden;white-space:nowrap; padding-left: 200px">{{serial_num}}</td>

        <td> </td>
        <td> </td>
        <td></td>
  
          <td>47104</td>
        <td>781</td>
        <td>1841580</td>
        
      </tr> -->



    <!-- <tr style="text-align: center;vertical-align: middle;">
              <td> Prameter name </td> <td> Value </td> <td> Units </td> <td> Min Limit </td> <td> Max Limit </td>
      </tr> 
            <tr>
              <td>
    <form action="showOnePar" method="POST" href="/showOnePar" class="form-signin">
    <div style="display:none">
      <input type="hidden" name="format" value="N3DW"><br>       
      <input type="hidden" name="parameter_id" value="47104"><br>
      <input type="hidden" name="parameter_name" value=""><br>
      <input type="hidden" name="operation_id" value=""><br>
      </div>
      <input type="submit" value="Chart" name="text" class="btn btn-lg btn-success pull-left" style="font-size: 13px; padding: 1px 1px; ">
    </form> 
             &nbsp;-&nbsp; SERIAL_NUMBER</td>
        <td style="overflow: hidden;white-space:nowrap; padding-left: 200px">{{serial_num}}</td>

              <td> </td>
              <td> </td>
              <td></td>
        
                <td>47104</td>
              <td>781</td>
              <td>1841580</td>
              
            </tr> -->

        </tbody></table>
    
    {% endfor %}
    </div>	  
    </div>
    
          <footer class="footer">
            <p>© Lumentum</p>
          </footer>

    </body>
</html>